## Linux Vi Workspace
prog
workspace/
*.swp

## Windows Code::Blocks Workspace
*.exe
*.cbp
*.depend
*.layout
*.o

## Windows Visual Studio Workspace
*.sdf
*.sln
*.suo
*.vcxproj*
*.lastbuildstate
*.log
*.tlog
*.opensdf
Debug
